.mat-column-rowIndex {
    width: 32px;
    border-right: 1px dashed currentColor;
    padding-right: 24px;
    text-align: center;
    margin-right: .5rem;
  }

  .mat-column-marketCode {
    padding-left: 1.5rem;
  }