<div class="toolbar" role="banner">
    <a routerLink="/">
      <img
      width="80"
      alt="Bitlo Logo"
      src="./assets/bitlo_logo_white_@2x.webp"
      />
    </a>
    <div>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/markets">Market</a>
      <!-- AUTH -->
      <a mat-button routerLink="/profile">Profile</a>
    </div>
    <a mat-raised-button [href]="isLoggedIn ? '/logout' : '/login'">LOG {{isLoggedIn ? 'OUT' : 'IN'}}</a>
    <!-- <div>
      <button  
      *ngIf="!(isLoggedIn | async)" (click)="authService.login()">Log In</button>
      <button 
      *ngIf="isLoggedIn | async" (click)="authService.logout()"
      >Log Out</button>
    </div> -->
  </div>