<div class="content" role="main">
    <!--  Steps -->
    <h2>Personal Information</h2>
    <input type="hidden" #selection>
    <div class="card-container">
      <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <span>Full Name</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <span>Cell Phone</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
        <span>Github Repo</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
        <span>Netlify Link</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'test'" tabindex="0">
        <span>Linkedln</span>
      </button>
  
    </div>
  
    <!-- Terminal -->
    <div class="terminal" [ngSwitch]="selection.value">
        <pre *ngSwitchDefault>Barış SAVAŞ</pre>
        <pre *ngSwitchCase="'material'">0 542 731 81 77</pre>
        <pre *ngSwitchCase="'pwa'"><a href="https://github.com/barisdevjs/bitlord" target="_blank">Github Repo</a></pre>
        <pre *ngSwitchCase="'dependency'"><a href="https://bitlord.netlify.app/" target="_blank">Netlify Link</a></pre>
        <pre *ngSwitchCase="'test'"><a href="https://www.linkedin.com/in/bar%C4%B1%C5%9F-sava%C5%9F-6300b3212/" target="_blank">My Linkedln Profile</a></pre>
    </div>
</div>