<div class="flex flex-col justify-center items-center h-screen">
    <mat-card class="boxShadow">
      <form [formGroup]="logForm" class="example-form" (ngSubmit)="logUser()">
        <h2 class="text-center !font-medium !mb-0">Please enter your credentials</h2>
        <mat-card-content class="p-8">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="identifier" placeholder="test@test.com"
            >
            <mat-error *ngIf="logForm.get('identifier')?.hasError('pattern')">
              Lütfen geçerli bir e-posta adresi giriniz
            </mat-error>
            <mat-error *ngIf="logForm.get('identifier')?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="123abc">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="logForm.get('password')?.hasError('minlength')">
              Password must have a minimum length of 3 characters
            </mat-error>
            <mat-error *ngIf="logForm.get('password')?.hasError('maxlength')">
              Password must have a minimum length of 6 characters
            </mat-error>
            <mat-error *ngIf="logForm.invalid && logForm.touched">
              “Lütfen gerekli alanları doldurunuz.
            </mat-error>
          </mat-form-field>
          <div class="flex justify-center">
            <button class="w-40" type="submit" mat-raised-button color="primary">Login</button>
          </div>
          <div class="flex ">
            <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
  